.profile_container{ position:relative; width: 100vw; height: 40vh; display: flex; align-items: center; justify-content: space-between; }
.profile_photo_container{ position:relative; width: 20%; height: 100%; }
.profile_photo{ width: 316px; height: 288px; padding: 30px; left: 20px; top: 20px; }

/* profile_text */
.profile_text_container{ position:relative; width: 80%; height: 100%; display: flex; flex-direction: column; margin-top: 30px;}
.profile_text_name_container{ position: relative; display: flex;}
.profile_text_row{position: relative; display: flex;}
.profile_text_brith_container{ position: relative; width: 50%; height:25%;}
.profile_text_address_container{ position: relative; width: 50%; height:25%;}
.profile_text_career_container{ position:relative; width: 100%; height:25%; }

.profile_text_name_kr{
  position: relative;
  font-family: "Gothic A1", serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.profile_text_name_en{
  position: relative;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  text-align: center;
}